<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "airbnboatlogo2.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active louermonbateau">
        <%= link_to "Louer mon bateau", new_boat_path, class: "nav-link" %>
      </li>
      <li class="nav-item louermonbateau">
        <% if user_signed_in? %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: "delete", class: "nav-link" %>
        <% else %>
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "/assets/woman.jpg", class: "avatar dropdown-toggle avatar-large", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Mon profil", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Mes bateaux", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Mes réservations", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Notifications", dashboard_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<p>Mes réservations</p>
<% @bookings.each do |booking| %>
  <div class="card">
    <p><%= booking.boat.name %>
  	  réservé par <%= booking.user.full_name %>
  	  propriétaire <%= booking.boat.user.full_name %>
  	  <% days = (booking.end_date.to_date - booking.start_date.to_date).to_i %>
  	  prix total <%= booking.boat.price_per_day * days %></p>
    <% if booking.boat.photo.attached? %>
      <%= cl_image_tag booking.boat.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  	  <% if booking.accepted %>
  	   <p>statut: validé</p>
  	   <% elsif booking.canceled %>
  	   <p>statut: refusé</p>
  	   <% else %>
  	   <p>statut: en attente</p>
  	   <% end %>

  </div>
<% end %>
<p>Mes notifications</p>
<% @booking_request.each do |booking_r| %>
    <% if booking_r.canceled == false %>
  	 <p>Vous avez une nouvelle demande de réservation pour votre bateau <%= booking_r.boat.name %>
  	  réservé par <%= booking_r.user.full_name %>
  	  propriétaire <%= booking_r.boat.user.full_name %>
  	  <% days = (booking_r.end_date.to_date - booking_r.start_date.to_date).to_i %>
  	  prix total <%= booking_r.boat.price_per_day * days %></p>
  	  <%= link_to "Confirmer", booking_path(booking_r.id), method: :patch, class: "btn btn-primary" %>
  	  <%= link_to "Refuser", update_destroy_path(booking_r.id), method: :patch, class: "btn btn-primary" %>
      <% end %>
<% end %>
<br>
<br>
<%= link_to "Ajouter une annonce", new_boat_path, class: "btn btn-primary" %>


