<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "airbnboatlogo2.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active louermonbateau">
        <%= link_to "Louer mon bateau", new_boat_path, class: "nav-link" %>
      </li>
      <li class="nav-item louermonbateau">
        <% if user_signed_in? %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: "delete", class: "nav-link" %>
        <% else %>
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <% if current_user && current_user.photo.attached? %>
          <%= link_to dashboard_path do %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle avatar-large" %>
           <% end %>
        <% else %>
          <%= link_to dashboard_path do %>
             <%= image_tag "https://res.cloudinary.com/dpwr92z8p/image/upload/v1591352568/woman_u4gpox.jpg", class: "avatar dropdown-toggle avatar-large" %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="bg-boat">
  <div class="row card_boat">
    <div class="m-center bg-white border p-4">
      <%= simple_form_for(@boat) do |f| %>
        <%= f.input :name, :placeholder => "Black Pearl", :label => "Nom de votre bateau", input_html: { class: "bg-light" } %>
        <%= f.input :description, :placeholder => "Bateau à moteur, capacité jusqu'à 5 personnes, libre tous les week-ends ...", input_html: { class: "bg-light" } %>
        <%= f.input :location, :placeholder => "Marseille", :label => "Ville", input_html: { class: "bg-light" } %>
        <%= f.input :price_per_day, :placeholder => "150€", :label => "Prix à la journée", input_html: { class: "bg-light mb-4" } %>
        <%= label_tag :captain, "Capitaine à bord ?", class: "coche"%>
        <%= f.check_box :captain %>
        <%= f.input :category, :placeholder => "Bateau à moteur", :label => "Type de bateau", input_html: { class: "bg-light" } %>
        <%= f.input :photo, as: :file, input_html: { class: "mb-4" } %>
        <%= f.submit "Submit", class: "btn btn-treehouse mb-5" %>
      <% end %>
      <%= link_to "Retour", dashboard_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at home
  </div>
</div>
