<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "airbnboatlogo2.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active louermonbateau">
        <%= link_to "Louer mon bateau", new_boat_path, class: "nav-link" %>
      </li>
      <li class="nav-item louermonbateau">
        <% if user_signed_in? %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: "delete", class: "nav-link" %>
        <% else %>
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "/assets/woman.jpg", class: "avatar dropdown-toggle avatar-large", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Mon profil", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Mes bateaux", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Mes réservations", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Notifications", dashboard_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="bannerindex">
  <div class="containerindex">
  </div>
</div>

<div class="content">
  <div class="card-style">

    <div class="card-header-body border-light">
      <div class="card-header">Avec ou sans capitaine</div>
      <div class="card-body">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck21">
          <label class="custom-control-label" for="customCheck21"> Avec capitaine</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck22">
          <label class="custom-control-label" for="customCheck22"> Sans capitaine</label>
        </div>
      </div>
    </div>

    <div class="card-header-body border-light">
      <div class="card-header">Type de bateau</div>
      <div class="card-body">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"> Voilier</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2"> Bateau à moteur</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck3">
          <label class="custom-control-label" for="customCheck3"> Catamaran</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck4">
          <label class="custom-control-label" for="customCheck4"> Semi-rigide</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck5">
          <label class="custom-control-label" for="customCheck5"> Péniche</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck6">
          <label class="custom-control-label" for="customCheck6"> Yacht</label>
        </div>
      </div>
    </div>

    <div class="card-header-body border-light">
      <div class="card-header">Prix</div>
      <div class="card-body">
          <%= form_tag boats_path, method: :get do %>
            <%= text_field_tag :city_query,
              params[:city_query],
              class: "form-control",
              placeholder: "Marseille"
          %>
          <%= text_field_tag :name_query,
            params[:name_query],
            class: "form-control",
            placeholder: "Bateau à moteur"
          %>
         <%= label_tag :price_50, "Moins de 50€" %>
         <%= check_box_tag :price_50,
            params[:price_50],
            class: "custom-control-input"
          %>
          <%= label_tag :price_100, "Entre 50 et 100€" %>
          <%= check_box_tag :price_100,
            params[:price_100],
            class: "custom-control-input"
          %>
          <%= label_tag :price_200, "Entre 100 et 200€" %>
          <%= check_box_tag :price_200,
            params[:price_200],
            class: "custom-control-input"
          %>
          <%= label_tag :price_300, "Entre 200 et 300€" %>
          <%= check_box_tag :price_300,
            params[:price_300],
            class: "custom-control-input"
          %>
          <%= label_tag :price_400, "Entre 300 et 400€" %>
          <%= check_box_tag :price_400,
            params[:price_400],
            class: "custom-control-input"
          %>
          <%= label_tag :price_500, "Entre 400 et 500€" %>
          <%= check_box_tag :price_500,
            params[:price_500],
            class: "custom-control-input"
          %>
          <%= label_tag :price_more_than_500, "Plus de 500€" %>
          <%= check_box_tag :price_more_than_500,
            params[:price_more_than_500],
            class: "custom-control-input"
          %>
          <%= label_tag :category, "Entre 400 et 500€" %>
          <%= text_field_tag :category,
              params[:category],
              class: "form-control",
              placeholder: "Bateau à moteur"
          %>
          <%= submit_tag "Filter", class: "btn btn-primary" %>        <% end %>
        <!-- <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck7">
          <label class="custom-control-label" for="customCheck7"> Moins de 50 €</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck8">
          <label class="custom-control-label" for="customCheck8"> 50 - 100 €</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck9">
          <label class="custom-control-label" for="customCheck9"> 100 - 200 €</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck10">
          <label class="custom-control-label" for="customCheck10"> 200 - 300 €</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck11">
          <label class="custom-control-label" for="customCheck11"> 300 - 400 €</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck12">
          <label class="custom-control-label" for="customCheck12"> 400 - 500 €</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck13">
          <label class="custom-control-label" for="customCheck13"> 500 - 700 €</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck14">
          <label class="custom-control-label" for="customCheck14"> 700 - 1000 €</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck15">
          <label class="custom-control-label" for="customCheck15"> Plus de 1000 €</label>
        </div> -->
      </div>
    </div>

    <div class="card-header-body border-light">
      <div class="card-header">Longueur</div>
      <div class="card-body">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck16">
          <label class="custom-control-label" for="customCheck16"> Moins de 5 m</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck17">
          <label class="custom-control-label" for="customCheck17"> 5 - 10 m</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck18">
          <label class="custom-control-label" for="customCheck18"> 10 - 20 m</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck19">
          <label class="custom-control-label" for="customCheck19"> 20 - 30 m</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck20">
          <label class="custom-control-label" for="customCheck20"> Plus de 30 m</label>
        </div>
      </div>
    </div>

    <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png' width="250">
  </div>

  <div class="announces">
    <% @boats.each do |boat| %>
      <%= link_to boat_path(boat.id) do %>
        <div class="announce">
          <% if boat.photo.attached? %>
            <%= cl_image_tag boat.photo.key, height: 200, width: 400, crop: :fill %>
          <% else %>
            <img src="/assets/nophoto.png">
          <% end %>
          <div class="announce-info">
            <div>
              <h2><%= boat.name %></h2>
              <div class='d-inline-block'>
                <img src="/assets/iconlocation.png" width='25'>
              </div>
              <div class='d-inline-block'>
                <p><%= boat.location %></p>
              </div>
            </div>
            <h2 class="announce-pricing"><%= boat.price_per_day %> €</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at home
  </div>
</div>
