<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "airbnboatlogo2.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active louermonbateau">
        <%= link_to "Louer mon bateau", new_boat_path, class: "nav-link" %>
      </li>
      <li class="nav-item louermonbateau">
        <% if user_signed_in? %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: "delete", class: "nav-link" %>
        <% else %>
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://res.cloudinary.com/dpwr92z8p/image/upload/v1591352568/woman_u4gpox.jpg", class: "avatar dropdown-toggle avatar-large", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Mon profil", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Mes bateaux", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Mes réservations", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Notifications", dashboard_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container2">
  <% if @boat.photo.attached? %>
    <%= cl_image_tag @boat.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591352567/nophoto_sjcdhs.png" width="320">
  <% end %>
  <div class="Productview_container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="bg-white border p-4 box-shadow-rounded">
          <h2 class="text-underline"><%= @boat.name %></h2>

          <br>

          <p><%= @boat.description %></p>
          <p><%= @boat.location %></p>
          <%= link_to "Retour", boats_path %>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="bg-white border p-4 box-shadow-rounded">
          <p>À partir de <%= @boat.price_per_day %> € par jour</p>
          <%= render 'bookings/new', boat: @boat, booking: @booking %>
        </div>
      </div>
    </div>
  </div>

</div>

<br><br>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    © 2020 Airbnboat, Inc. Made with <i class="fas fa-heart"></i> at home
  </div>
</div>
