<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "airbnboatlogo2.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Louer mon bateau", "#", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Se connecter", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Mon profil", "#", class: "dropdown-item" %>
          <%= link_to "Mes bateaux", "#", class: "dropdown-item" %>
          <%= link_to "Mes réservations", "#", class: "dropdown-item" %>
          <%= link_to "Notifications", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container2">
  <% if @boat.photo.attached? %>
    <%= cl_image_tag @boat.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="Productview_container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="bg-white border p-4">
          <h2 class="text-underline"> <%= @boat.name %> </h2><br>
          <p><%= @boat.description %></p>
          <p><%= @boat.location %></p>
          <%= link_to "Retour", boats_path %>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="bg-white border p-4">
          <p><%= @boat.price_per_day %>€</p>
          <%= render 'bookings/new', boat: @boat, booking: @booking %>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at home
  </div>
</div>
